{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <title>
        {% block title %}
        {% endblock title %}

    </title>

</head>
<body class='rtl'>

    
    {% comment %} <a href="{% url "article:detail" slug=request.session.last_viewed_article.slug %}">{{ request.session.last_viewed_article.title }}</a> {% endcomment %}
    {% if messages %}
        <div class="container mt-3">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        </div>
    {% endif %}
     <!-- Header Section -->
    {% include "partials/heder.html" %}

    <!-- Navbar Section -->
    {% include "partials/navbar.html" %}



    <!-- Main Content Block -->
    {% block content %} {% endblock content %}

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    
</body>
</html>