{% extends "maintemplate.html" %}
{% load static %}
{% block title %}
    باغ فردوس|تاریخچه
{% endblock title %}

{% block content %}

<!-- Page Header Banner -->
<div class="page-header" style="background-image: url('{% static 'images/slider/slide1.jpg' %}');">
    <div class="container">
        <h1 class="page-title">تاریخچه</h1>
    </div>
</div>

<!-- Main Content Section -->
<div class="container content-section py-5">
    <div class="row">
        <!-- We use mx-auto to center the column -->
        <div class="col-lg-8 mx-auto">
            <p class="lead">
                باغ فردوس یکی از باغ‌های ایرانی ارزشمند و تاریخی در منطقه شمیران تهران است که از دوران قاجار به یادگار مانده است. این باغ در محله‌ای به همین نام در خیابان ولیعصر قرار دارد و امروزه به عنوان موزه سینمای ایران شناخته می‌شود.
            </p>
            <hr class="my-4">
            <p>
                ساخت این باغ به دستور محمدشاه قاجار در سال ۱۲۶۴ هجری قمری آغاز شد، اما با مرگ او ساخت و ساز آن ناتمام ماند. پس از آن، مالکیت این باغ چندین بار دست به دست شد و بخش‌هایی به آن اضافه یا از آن کاسته شد. عمارت اصلی باغ که امروز پابرجاست، توسط دوستعلی‌خان معیرالممالک، داماد ناصرالدین شاه، ساخته شد و تزئینات گچ‌بری منحصر به فرد آن توسط هنرمندان اصفهانی و یزدی اجرا گردید.
            </p>
            <p>
                در طول سال‌ها، این مکان کاربری‌های مختلفی از جمله مدرسه و مرکز فعالیت‌های هنری و فرهنگی داشته است تا اینکه در نهایت در سال ۱۳۸۱ به عنوان مکان دائمی موزه سینمای ایران انتخاب شد. امروز، باغ فردوس نه تنها یک مکان تاریخی با معماری زیباست، بلکه قلب تپنده سینمای ایران نیز به شمار می‌رود.
            </p>
            <p>
                مستندات روایی حکایت از آن دارد که این باغ در زمان محمدشاه قاجارساخته شده است و ساختمان آن کاخ شکارگاه وی بود. پس از فوت نظام الدوله، مالک باغ پسرش دوستعلی خان معیر الممالک داماد ناصرالدین شاه شد.او بر اساس آنچه روایت کرده اند به این باغ و عمارتش اهمیتی نمی داد تا اینکه باغ رو به ویرانی گذاشت.
            </p>
            <p>
                حاجی میرزا حسین پسر حاجی میرزا خلیل شیرازی که در سرای امیر حجره داشت و تاجری اعیان منش بود این باغ را خرید و دست به تعمیرآن زد. او چند سالی مالک این باغ بود و در این باغ مهمانی ها ترتیب داد. اما پدرش که از این ولخرجی های پسر نگران شده بود او را به شیراز خواست و به این ترتیب باغ و عمارت به سرایدار سپرده شد و دوباره رو به ویرانی نهاد.
            </p>
            <p>
                پس از او میرزا حسین طهرانی مالک باغ شد.او هم عمارت شمالی باغ را خراب کرد و درختانی را که نظام الدوله کاشته بود از بیخ برکند.پس از فوت او اراضی این باغ بین وراث تقسیم شد و هریک از وراث سهم خود را فروختند. در سال 1318هجری قمری در زمان مظفرالدین شاه میرزااسماعیل خان امین الملک برادر امین السلطان اتابک باغ فردوس را خرید. او به آبادانی باغ کوشید و در ضلع غربی آن اندرونی و حمام ساخت. او پس از امین الملک، از عهده نگهداری باغ بر نیامدند و باغ برای سومین بار رو به ویرانی گذاشت.
            </p>
        </div>
    </div>
</div>

{% endblock content %}


